.container {
  background-color: #f7fafd;
  padding: 2rem 3rem 3rem 3rem;
  margin-bottom: 1rem;
}

.heading {
  font-family: var(--inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 10px;
}

.separator {
  border-top: 3px solid var(--primary);
  margin: 1rem 0 2rem;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.question {
  font-family: var(--inter);
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--primary);
}
