.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-family: var(--inter);
    font-weight: normal;
    font-size: 1rem;
    transition: all 0.2s ease;
  }
  
  .activeLink {
    color: white;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
  }
  