.container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    background-color: #f1f1f1;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: white;
    border-radius: var(--border-radius-xxl);
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    height: 350px;
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .iconWrapper {
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
  }
  
  .icon {
    color: black;
  }
  
  .title {
    color: #1a3254;
    font-size: var(--font-size-xxl);
    font-family: var(--inter);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .description {
    color: #5A6A7E;
    font-size: var(--font-size-md);
    font-family: var(--inter);
    font-weight: normal;
    line-height: 1.4;
    text-align: left;
  }
  